<div class="article">
  <%= single_article_image(@article) %>

  <h1 class="article__title"><%= @article.title %></h1>
  <div class="article__category">
    <span><%= @article.category.name %></span>
  </div>

  <div class="article__author">Posted by <%= link_to  @article.author.name, user_path(@article.author) %></div>
  <div class="article__date">&mdash; Posted <%= distance_time(@article.created_at) %> ago</div>

  <div class="article__text">
    <%= @article.text %>
  </div>

  <%= edit_btns_for_single_post(@article)  %>
</div>
