<div class="featured">
  <figure class="featured__images">
    <%= image_tag most_popular_article_image(@most_popular_article), class: "featured__image"  %>
  </figure>
  <div class="featured__texts">
    <h1 class="featured__title">
      <%= link_to @most_popular_article.title, article_path(@most_popular_article) %>
    </h1>
    <div class="featured__content">
      <div class="featured__excerpt"><%= excerpt_short(@most_popular_article.text) %></div>
      <div class="featured__attr">
        <div class="featured__author">Posted by <%= link_to @most_popular_article.author.name, user_path(@most_popular_article.author) %></div><div class="featured__date">&mdash; Posted <%= distance_time(@most_popular_article.created_at) %> ago</div>
      </div>
    </div>
  </div>
</div>
