<header class="header">
  <div class="header__head">
    <%= link_to root_path, class: "header__logo logo" do %>peTs sTyLe <%= icon('fas', 'paw') %><% end %>
    <nav class="header__nav">
      <ul class="header__nav__list">
        <li class="header__nav__item"><%= link_to  "Home", root_path, class: header_home_class %></li>
        <li class="header__nav__item"><%= link_to  "Write an article", new_article_path, class: header_new_article_class %></li>
        <li class="header__nav__item"><%= link_to  "All Articles", articles_path, class: header_all_article_class %></li>
        <%= header_menu_for_login_user %>
      </ul>
      <ul class="header__nav__list">
        <%= login_logout_menu  %>
      </ul>
    </nav>
    <%= link_to '#', class: "header__search" do %><%= icon('fas', 'search') %><% end %>
    <div id="toggle__button" class="toggle__button">
      <span class="toggle__span"></span>
      <span class="toggle__span"></span>
      <span class="toggle__span"></span>
    </div>
  </div>


    <div class="sidemenu" id="sidemenu">
      <nav class="sidemenu__nav">
        <ul class="sidemenu__list upcase">
          <li class="sidemenu__item">
            <%= link_to "Home", root_path, class: side_home_class %>
          </li>
          <li class="sidemenu__item">
            <%= link_to "Write an Article", new_article_path, class: side_new_article_class %>
          </li>
          <% if categories.any? %>
            <% categories.each do |category| %>
              <li class="sidemenu__item">
              <%= link_to category.name, category_path(category), class: current_page?(category_path(category)) ? "sidemenu__link active" : "sidemenu__link" %>
              </li>
            <% end %>
          <% end %>
          <%#= side_category_menu(categories)  %>
          <%= sidemenu_for_not_login_user  %>
        </ul>
      </nav>
      <%= sidemenu_for_login_user  %>
    </div>
</header>
